header {
    text-align: center;
    padding: 30px 0px;
    background: linear-gradient(to bottom, green, rgb(80, 184, 0));
}

header h1 {
    color: white;
    font-size: 3rem;
    font-style: italic;
    text-shadow: 3px 3px 3px rgb(7, 80, 0);

}

