main {
    height: 100vh;
}

.main-grid {
    display: grid;
    grid-template-columns: 200px 1fr;
    height: 100vh;
    
}

.left-grid, .right-grid {
    border: 1px solid black;
    background-color: white;
}

.left-grid {
    flex: 4;
}

.right-grid {
    flex: 1;
}