#grid-container {
    display: flex;
    gap: 30px;
}

main {
    padding: 40px 0px;
}

main .interface {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
}

@media screen and (max-width: 950px) {
    #grid-container {
        flex-direction: column;
    }

    main .interface {
    display: grid;
    grid-template-columns: 1fr;
}

.movie-right {
    flex: 1;
}

.movie-left {
    flex: 1;
}

.movie-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

}


.left-grid {
   flex: 1;
}

.filter-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(77, 77, 77);
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    transition: .3s ease;
}

.dropdown-filter.active  i{
    transform: rotate(180deg);
}
.filter.active i:nth-child(2)  {
    transform: rotate(180deg);
} 

ul.gender {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.filter-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-filter {
    background-color: rgb(86, 86, 86);
    list-style-type: none;
    border-radius: 8px;
   
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 0;
    overflow: hidden;
    transition: all .3s ease;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.dropdown-filter.active {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    height: auto;
    padding: 10px;
}

.gender-input {
    display: flex;
    align-items: center;
    gap: 5px;

}

.right-grid {
    flex: 4;
    display: flex;
    flex-direction: column;
    gap:10px;
    
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    gap: 10px;
}

.search {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(85, 85, 85);
}

.search i {
    color: #757575;
}

.search input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 1rem;
    text-indent: 5px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 5px;
}

.search input:focus {
    background: gray;
    color: white;
    border: none;
    outline: none;
    color: white;
}

.search input:focus::placeholder {
    color: white;
}


.search-btn {
    background-color: #757575;
    color: rgb(255, 252, 252);
    border: none;
    padding: 10px 10px;
    font-size: 1.4rem;
    border-radius: 10px;
    background-color: rgb(85, 85, 85);
    cursor: pointer;
}

.movie-container {
    background-color: rgb(85, 85, 85);
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.movie-card {
    display: flex;
    gap: 20px;
}

.movie-left img {
    width: 100%;
    height: 350px;
    border-radius: 10px;
    object-fit: cover;
    flex: 0;
    box-shadow: 0px 0px 10px #560056;
}

.movie-left {
    flex: 1;
}

.movie-right {
    flex: 2;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.movie-title {
    font-size: 1.2rem;
}

.movie-gender {
    display: flex;
    list-style: none;
    gap: 5px;
}

.movie-gender li + li {
    border-left: 2px solid gray;
    padding: 0px 10px;
}

.movie-rating {
    display: flex;
    align-items: center;
    gap: 5px;

}

.movie-info {
    text-align: justify;
}


.movie-bottom {
    display: flex;
    align-items: center;
    gap: 5px; 
    flex-wrap: nowrap; 
}

.movie-tomate {
    display: flex;
    align-items: center;
    gap: 5px;
}

.movie-tomate img {
    width: 100%;
    max-width: 20px;
}

.movie-bottom button {
    padding: 10px 20px;
    margin-top: 30px;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.movie-bottom button:nth-child(1) {
    background-color: rgb(0, 81, 255);
}

.movie-bottom button:nth-child(1):hover {
    background-color: rgb(75, 132, 255);
}

.movie-bottom button:nth-child(2) {
    background-color: rgb(1, 255, 1);
}

.movie-bottom button:nth-child(2):hover {
    background-color: rgb(146, 255, 146);
}

.movie-bottom button:nth-child(3) {
    background-color: rgb(255, 0, 0);
}

.movie-bottom button:nth-child(3):hover {
    background-color: rgb(255, 104, 104);
}
