.card-img {
    width: 100%;
    max-width: 350px;
    position: absolute;
    object-fit: cover;
    
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.card-discount {
    font-size: 1.5rem;
    z-index: 2;
}

.card-badge {
    position: absolute;
    right: 40px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: #fc2727;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    clip-path: polygon(
        50% 0%,
        58% 4%,
        66% 2%,
        73% 7%,
        81% 6%,
        86% 13%,
        93% 15%,
        92% 23%,
        98% 29%,
        95% 37%,
        100% 44%,
        96% 52%,
        99% 60%,
        94% 67%,
        95% 75%,
        87% 80%,
        85% 88%,
        77% 89%,
        71% 96%,
        63% 94%,
        56% 100%,
        48% 96%,
        40% 99%,
        34% 94%,
        26% 96%,
        21% 89%,
        13% 88%,
        12% 80%,
        5% 75%,
        7% 67%,
        1% 60%,
        4% 52%,
        0% 44%,
        5% 37%,
        2% 29%,
        8% 23%,
        7% 15%,
        14% 13%,
        19% 6%,
        27% 7%,
        34% 2%,
        42% 4%
    );
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    letter-spacing: 2px;
    z-index: 1;
}

.card-grid {
    background-color: burlywood;
    border-radius: 30px;
    padding: 20px;
    background-image: url(../assets/imagens/diamond-sunset.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
    height: 300px;
    overflow: hidden;
    flex: 1;
}

.section-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
    justify-content: center;
    order: -1;

}

.card-grid:nth-child(3) {
    grid-row: 1 / 3;
    grid-column: 2;
    height: auto; 
}

.card-grid:nth-child(3) img {
    max-width: 600px;
}







@media screen and (max-width: 768px) {
    .section-grid {
        grid-template-columns: 1fr;
        gap: 24px;
    }

    .card-grid {
        width: 100%;
        height: 400px;
        box-sizing: border-box;
    }

    .card-grid:nth-child(3) {
        grid-column: auto;
        grid-row: auto;
    }

    .card-grid:nth-child(3) img {
    width: 100%;
    max-width: 350px;
}
}


