@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 6%;
}

/* HEADER */

header {
    padding: 10px 0px;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    width: 100%;

    position: absolute;
}

header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    display: flex;
    align-items: center;

}

.logo-tittle {
    font-size: 0.8rem;
    line-height: 23px;
}

.logo-tittle h1 {
    font-weight: bold;
}


.logo-bottom {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo-bottom h2 {
    font-size: 1.5rem;
}

.logo-tittle .line {
    content: '';
    width: 20px;
    height: 0.8vh;
    background-color: rgb(251, 194, 20);
}

.header-menu {
    display: flex;
    align-items: center;

    list-style-type: none;
    gap: 20px;
}

.header-menu a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
}

.header-menu a:hover {
    color: rgb(251, 194, 20);
}

.header-agenda {
    display: flex;
    align-items: center;
    gap: 10px;
}

.agenda-btn {
    padding: 10px 20px;
    color: rgb(251, 194, 20);
    border: 1px solid rgb(251, 194, 20);
    background-color: black;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.menu-icon i {
    font-size: 2rem;
}

section#hero {
    background-image: url(../imagens/pexels-franco-monsalvo-252430633-20566239.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 85vh;

    display: flex;
    align-items: center;
}

/* HERO */

section#hero .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.hero-content {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.hero-tittle {
    font-size: 1.2rem;
    font-weight: 700;
}

.hero-top h1, .hero-top span {
    font-size: 3rem;
    font-weight: 700;
}

.hero-top span {
    color: rgb(251, 194, 20);
}

.hero-buttons {
    display: flex;
    gap: 20px;
}

.hero-buttons button {
    font-size: 1.3rem;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
}

.hero-left-btn {
    background-color: rgb(251, 194, 20);
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    border: 1px solid rgb(251, 194, 20);
}

.hero-right-btn {
    background-color: rgb(0, 0, 0);
    color: rgb(251, 194, 20);
    border: 1px solid rgb(251, 194, 20);
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.hero-benefits {
    color: white;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.500), transparent);
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-icon i {
    font-size: 3rem;
    color: rgb(251, 194, 20);
}

.hero-icon p {
    font-size: 1.4rem;
}

/* HERO */

/* BENEFITS */

section#benefits {
    background-color: black;
    color: white;
    padding: 40px 0px;
}

section#benefits .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.benefits-card {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.benefits-card + .benefits-card {
    border-left: 1px solid white;
}

.benefits-card i {
    font-size: 3rem;
    color: rgb(251, 194, 20);
}

/* BENEFITS */

/* PLANOS */

section#plan {
    padding: 40px 0px;
}

div.plan-top {
    text-align: center;
    padding: 20px 0px;
}

div.plan-top h3 {
    color: rgb(251, 194, 20);
}

div.plan-bottom {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

div.plan-card {
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
}

div.plan-card:nth-child(2) {
  border: 2px solid rgb(251, 194, 20);
}

div.plan-card h2 {
    font-size: 2rem;
}

div.plan-card h2:nth-child(2) {
    font-size: 2.5rem;
}

div.plan-card h2:nth-child(2) span {
    font-size: 1.3rem;
}

div.plan-card i {
    color: rgb(251, 194, 20);
}

div.plan-card p {
    padding-top: 20px;
}

div.plan-card h3 {
    padding: 5px 15px;
    background-color: rgb(251, 194, 20);
    width: 100%;
    position: absolute;
    top: -10px;
    left: 0;
    border-radius: 10px 10px 0px 0px;
}

div.agenda {
    background-color: rgb(251, 194, 20);
    padding: 40px 0px;
}

div.agenda .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.agenda-transform {
    display: flex;
    align-items: center;
    gap: 20px;
}

div.agenda-transform i {
    font-size: 4rem;
}

.agenda-btn {
    text-wrap: nowrap;
}

/* TESTEMONIALS */

section#testemonials {
    padding: 40px 0px;
}

.user-img img {
    width: 100px;
    aspect-ratio: 1/ 1;
    object-fit: cover;
    border-radius: 50%;
}




