@charset "UTF-8";

#hero {
    padding: 40px 0px;
}

.interface {
    display: flex;
    gap: 10px;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hero-left span {
    color: var(--highlight);
}

.hero-left h1 {
    font-size: clamp(2.5rem, 4vw, 3.3rem);
}

.hero-left p {
    font-weight: 600;
}

.hero-left .hero-buttons {
    display: flex;
    gap: 5px;
}

.hero-left .hero-buttons button {
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

.hero-left .hero-buttons button:nth-child(1) {
    background-color: var(--highlight);
    color: white;
}

.hero-left .hero-buttons button:nth-child(1):hover {
    background-color: white;
    color: black;
}

.hero-left .hero-buttons button:nth-child(2):hover {
    background-color: var(--highlight);
    color: white;
}

.hero-left .hero-buttons button:nth-child(2):active {
    color: red;
}

.hero-right {
    flex: 1;
    position: relative;
}

.hero-right p {
    text-align: center;
    font-weight: 600;
}

.hero-right p span {
    color: var(--highlight);
}

.hero-right #comida1 {
    width: 100%;
    object-fit: cover;
}

.hero-right .discount {
    position: absolute;
    top: 20px;
    left: 0px;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 10px;
    font-size: 1.1rem;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hero-right .discount p {
    font-weight: 700;
}

.hero-right .discount span {
    color: var(--highlight);
}

.hero-right .discount-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-right .discount-top span {
    font-weight: 600;
    font-size: 1.5rem;
}

.hero-right .discount-top i {
    color: var(--highlight);
}

.hero-right .discount-top p {
    color: var(--highlight);
}

.discount-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.discount-bottom i {
    color: rgb(153, 255, 0);
    font-size: 1.4rem;
}

/* TABS */

.thumbs {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.thumb-item {
   border-radius: 30px;
   width: 200px;
   height: auto;
   padding: 110px 20px 20px;
   position: relative;
   text-align: center;
   cursor: pointer;
    transition: transform 0.3s ease;

   display: flex;
   justify-content: space-between;
   flex-direction: column;
   gap: 10px;
}

.thumb-item:hover {
    background-color: var(--highlight);
    color: white;
}

.thumb-item.active {
    background-color: var(--highlight);
    color: white;
}



.thumb-item:hover .add {
    background-color: white;
    color: var(--highlight);
}

.thumb-img {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.thumb-item img {
    width: 150px;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.thumb-title {
   font-size: 1.2rem;
   font-weight: 700;
}

.thumb-info {
    width: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
}

.thumb-price {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.thumb-price .add {
    background-color: var(--highlight);
}

.thumb-price .add {
    background-color: var(--highlight);
    color: white;
    padding: 3px;
    width: 30px;
    border-radius: 8px;

}



