@media screen and (max-width: 1070px) {
/* header nav */
nav .menu {
    display: none;
    gap: 20px;

}

/* sobre */

#about-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background-color: black;
    color: white;
    padding: 20px 0px;
}

#about-container .interface {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 40px;
}

.about-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

}


@media screen and (max-width: 900px) {
/* orçamento */

#quote-container .interface {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.quote-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    width: 100%;
}

.quote-right form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    flex: 1;
    font-size: 1.3rem;
}

.form-name input {
    width: 100%;
}

.form-name, .form-email {
    width: 100%;
}

.quote-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    font-size: 1rem;
}

.icon-description {
    display: flex;
    align-items: center;
    gap:20px;
}

.icon-description i {
    font-size: 2rem;
}

}