@charset "UTF-8";

* {

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

@font-face {
    font-family: 'going';
    src: url(../imagens/GoingAlone-lxe3d.otf);
}

.interface {
    margin: 0 auto;
    padding: 0 6%;
    max-width: 1250px;
}

header {
    padding: 20px 0px;
    background: transparent;
    position: absolute;
    width: 100%;
}

header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .interface .logo {
    display: flex;
    align-items: end;
    line-height: 25px;
}

header .interface .logo span {
    font-family: 'going', sans-serif;
    font-size: 5rem;
}

nav .menu {
    display: flex;
    gap: 20px;
}

nav .menu a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}

.menu-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-icons {
    display: flex;
    gap: 10px;
    font-size: 1.2rem;
}

/* HERO */

#hero-container {
    background-image: url(../imagens/hero-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    
}

#hero-container .interface {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    height: 100%;
}

#hero-container .interface .hero-left {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title-span {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.7rem;
    color: #EFC891;
}

.hero-left .hero-title {
    font-size: 1.6rem;
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.hero-left .hero-subtitle {
    color: white;
    font-size: 1.3rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.button {
    border-radius: 20px;
    border: none;
    background-color: #EFC891;
    padding: 0.5rem 2rem;
    font-size: 1.3rem;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;


    max-width: 280px;
}

.button:hover {
    background-color: #edd2ac;
}

.hero-bottom {
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
}

/* PROJETOS */

#project-container {
    margin: 40px 0px;
}

.project-top, .project-filter  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.project-top h2 {
    font-size: 3rem;
}

.project-top .project-search {
   display: flex;
   align-items: center;
   gap: 5px;
   width: 300px;
}

.project-top .project-search input {
    width: 100%;
    font-size: 1.3rem;
    padding: 0.2rem;
}


.project-top .project-search i {
    font-size: 1.3rem;
}

.project-buttons {
    display: flex;
    justify-content: left;
    gap: 10px;
    flex-wrap: wrap;
}

.project-buttons button {
    font-size: 1.3rem;
    padding: 0.2rem 1.5rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;

}

.project-buttons button:hover {
    background-color: black;
    color: white;
    
}

.project-filter .project-favorite {
    display: flex;
    align-items: center;
    gap: 10px;
}

.project-filter .project-favorite select {
    border: none;
    outline: none;
}

.project-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.project-card {
    position: relative;
    overflow: hidden;
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-heart {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 1.3rem;
}

.card-bottom {
    position: absolute;
    bottom: 0;
    padding: 10px;

    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 80%, transparent);
}

.card-bottom .card-name {
    font-size: 1.3rem;
}

.card-bottom .card-category {
    font-size: 1.1rem;
    color: cadetblue;
}

.project-more {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.project-more .more {
    font-size: 1.4rem;
    padding: 0rem 2rem;
}