@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 4%;
}

body {
    height: 100%;
}

/* HEADER */

header {
    padding: 40px 0px;
}

header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header .logo {
    flex: 0 300px;
}

header .logo h1 {
    font-size: clamp(1.5rem, 3vw, 2rem);
    display: block;
}

header .logo span {
    color: cyan;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

header ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    border: 2px solid transparent;
    transition: .4s;
    padding: 0px 10px;

    display: block;
}


header ul li a:hover {
    border-bottom: 2px solid cyan;
    color: cyan;
}

header .buttons {
    display: flex;
    gap: 10px;
}

header .buttons .btn-login {
    padding: 5px 20px;
    font-size: 1.2rem;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}


header .buttons .btn-login:nth-child(1), header .buttons .btn-login:nth-child(2):hover {
    color: cyan;
    border: 2px solid cyan;
    background-color: white;
}

header .buttons .btn-login:nth-child(2), header .buttons .btn-login:nth-child(1):hover  {
    background-color: cyan;
    color: white;
    border: 2px solid cyan;
}

nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .btn-menu {
    display: none;
    font-size: 2rem;
    color: cyan;
    border: none;
    cursor: pointer;
}

/* / HEADER */

/* HERO */

section#hero {
    padding: 80px 0px;
    background-color: rgb(192, 251, 251);
}

#hero .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: relative;
}

.hero-text {
    max-width: 700px;
    flex: 1 1 400px;

    z-index: 9;

    
}

@keyframes drop {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-text h1:nth-child(1) {
    transform: translateY(40px);
    opacity: .2;
    animation: drop 1s ease forwards;
}

.hero-text h1:nth-child(2) {
    transform: translateY(20px);
    opacity: .2;
    animation: drop 2s ease forwards;
}

.hero-text p {
    transform: translateY(20px);
    opacity: .2;
    animation: drop 3s ease forwards;
}

.pesquisa-input {
    flex: 1 1 300px;
    min-width: 150px;
}

.input {
    display: flex;
    gap: 10px;
}

.hero-text h1 {
    line-height: 1.2;
    font-size: clamp(2rem, 7vw, 3.6rem);
}

.hero-text span {
    color: cyan;
}

.hero-text p {
    padding: 10px 0px;
}

.hero-pesquisa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 50px;
    margin-top: 80px;
    gap: 20px;
}

.hero-pesquisa select {
    border: 0px solid black;
    font-size: 1rem;
    outline: none;
    display: flex;
    cursor: pointer;
}

.hero-pesquisa i {
    font-size: 2rem;
}




.btn-pesquisa a {
    border-radius: 50%;
    background-color: cyan;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}

.btn-pesquisa a i {
    font-size: 1.5rem;
}





/* / HERO */

/* HERO BAR*/

section#hero-bar {
    padding: 40px 0px;
    background-color: cyan;
    position: relative;
}

#hero-bar .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

.benefits {
    display: flex;
    align-items: center;
    gap: 10px;
}

.benefits-item {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;

    z-index: 2;
}


.benefits-item + .benefits-item {
    border-left: 4px solid white;
    padding: 0px 20px;
}

.benefits-item h2 {
    font-size: clamp(2rem, 5vw, 3rem);
}

.benefits-item p {
    font-size: clamp(1rem, 4vw, 1.5rem);
    line-height: 25px;
}


.hero-bar-img {
    flex: 1;
    max-width: 1200px;
    max-height: 400px;
}


.hero-bar-img img {
    position: absolute;
    bottom: 0;
    right: 100px;
    object-fit: contain;
    z-index: 3;
    max-width: 700px;    
    max-height: 500px; 
    width: auto;
    height: auto;
    
}

.circle {
    content: '';
    width: 800px;
    height: 800px;
    position: absolute;
    bottom: -60px;
    right: -140px;
    background-color: cyan;
    transform: translate(-22%, 30%);
    border-radius: 50%;
    clip-path: inset(0 0 50% 0);
    z-index: 1;

}

/* HERO BAR*/

/* CARDS */

section#cards-benefits {
    padding: 80px 0px;
}

section#cards-benefits h2 {
    font-size: 2.5rem;
}

#cards-benefits .interface h2 {
    padding: 0px 0px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    flex-wrap: wrap;
    padding: 40px 0px;
}

.cards-item {
    padding: 30px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 5px rgb(0, 0, 0);
    cursor: pointer;
}

.cards-item:nth-child(1) {
    grid-row: 1/ 2;
    grid-column: 1 / 3;
}

.cards-item:nth-child(2) {
    grid-row: 1 / 3;
    text-align: justify;
}

.cards-item i {
    font-size: 2rem;
    border-radius: 50%;
    background-color: white;
    padding: 10px;
    color: cyan
}

.cards-item p {
    padding: 10px 0px;
}


.cards-item:hover {
    background-color: cyan;
    color: white;
    box-shadow: none;
}

/* / CARDS */

/* NEED */ 
section#need {
    padding: 80px 0px;
}

#need .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.need-img {
    flex: 1;
    display: flex;
    align-items: center;
}

.need-img img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
}

.need-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.need-text h2 {
    font-size: 2.4rem;
    line-height: 50px;
}

.need-text span {
    display: block;
}



.need-check {
    list-style-type: none;
}

.need-check li {
    display: flex;
    align-items: center;
    line-height: 40px;
    gap: 10px;
    white-space: nowrap;
}

.more p {
    color: cyan;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* / NEED */

/* RATING */

section#rating {
    padding: 80px 0px;
}

#rating .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

#rating img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    position: relative;
    border: 4px solid rgb(255, 255, 255);
    outline: 2px solid cyan;
}

#rating img:not(:first-child) {
    margin-left: -15px;
}

.rating-users {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 420px;
}

.rating-icons .icons {
    display: flex;
    align-items: center;
    
}

.rating-users h2 {
    font-size: 2.4rem;
    line-height: 50px;
}

.rating-users p {
    padding: 20px 0px;
}

.rating-users span:nth-child(1) {
    color: cyan;
}

.rating-users span:nth-child(2) {
    display: block;
}

.rating-reviews {
    padding: 20px 0px;
}


.users-comentary {
    flex: 1 1 400px;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 5px black;
}

.users-comentary .users {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.users-comentary .user {
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 5px;
}

.users-comentary p {
    padding: 20px 0px;
}

.user-stars i {
    color: yellow;
    font-size: 1.3rem;
}

/* / RATING */

/* QUALITY */

section#quality {
    padding: 80px 0px;
    background-color: rgba(0, 255, 255, 0.15);
}

#quality .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.quality-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    text-align: justify;
}

.quality-text h2 {
    font-size: 2.4rem;
    line-height: 50px;
}

.quality-text .text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.quality-text span {
    color: cyan;
    display: block;
}

.quality-img {
    flex: 1;
    display: flex;
    align-items: center;
}

.quality-img img {
    max-width: 100%;
    border-radius: 20px;
    object-fit: cover;
    height: auto;
}

/* / QUALITY */

/* SUBSCRIBE */

section#subscribe {
    padding: 80px 0px;
}

#subscribe .interface {
    background-color: cyan;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 8rem;
    border-radius: 20px;
    width: 90vw;
    gap: 20px;
}

.text-subscribe {
    display: block;
    width: 100%;
}

#subscribe .interface h2 {
    font-size: 2.1rem;
}

.subscribe-text {
    background-color: white;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.subscribe-text input {
    width: calc(100% - 55px);
    height: 100%;
    font-size: 2.5rem;
    border: 0px;
    border-radius: 40px;
    outline: none;
    text-indent: 20px;
}

.subscribe-text i {
    color: rgb(255, 255, 255);
    padding: 10px;
    width: 50px;
    height: 50px;
    background-color: cyan;
    border-radius: 50%;
    font-size: 2rem;
    text-align: center;
}

.btn-subscribe {
    border: none;
    cursor: pointer;
}

/* / SUBSCRIBE */

/* RODAPE */

.rodape {
    background-color: cyan;
    padding: 80px 0px;
    color: white;
}

.rodape .interface {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape-top {
    display: flex;
    border-bottom: 2px solid white;
    padding: 40px 0px;
    gap: 50px;
}

.rodape-redes, .rodape-links, .rodape-address {
    flex: 1;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rodape-icons {
    font-size: 2rem;
    display: flex;
    gap: 20px;
    cursor: pointer;
}


.rodape-links ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rodape h3 {
    font-size: 2rem;
}

.rodape-links a {
    text-decoration:none;
    color: white;
}

.rodape-links a:hover {
    text-decoration: underline;
}

.rodape-bottom {
    padding: 20px;
    font-size: 1.3rem;
    text-align: center;
}

.rodape-address iframe {
    max-width: 100%;
    min-width: 366px;
    max-height: 166px;
    flex: 1;
}

/* / RODAPE */





