@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4%;
}



body {
    height: 200vh;
}

/* HEADER */

header {
    padding: 40px 0px;
}

header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header .logo h1 {
    font-size: 1.5rem;
}

header .logo span {
    color: cyan;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

header ul li a {
    text-decoration: none;
    padding: 10px;
    font-size: 1.2rem;
    color: black;
    border: 2px solid transparent;
    transition: .4s;

    display: block;
}

header ul li a:hover {
    border-bottom: 2px solid cyan;
    color: cyan;
}

header .buttons {
    display: flex;
    gap: 10px;
}

header .buttons .btn-login {
    padding: 5px 20px;
    font-size: 1.2rem;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}


header .buttons .btn-login:nth-child(1), header .buttons .btn-login:nth-child(2):hover {
    color: cyan;
    border: 2px solid cyan;
    background-color: white;
}

header .buttons .btn-login:nth-child(2), header .buttons .btn-login:nth-child(1):hover  {
    background-color: cyan;
    color: white;
    border: 2px solid cyan;
}

/* / HEADER */

/* HERO */

section#hero {
    padding: 80px 0px;
    background-color: rgb(192, 251, 251);
}

#hero .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: relative;
}

.hero-text {
    max-width: 700px;
    flex: 1 1 400px;

    z-index: 9;

    
}

@keyframes drop {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-text h1:nth-child(1) {
    transform: translateY(40px);
    opacity: .2;
    animation: drop 1s ease forwards;
}

.hero-text h1:nth-child(2) {
    transform: translateY(20px);
    opacity: .2;
    animation: drop 2s ease forwards;
}

.hero-text p {
    transform: translateY(20px);
    opacity: .2;
    animation: drop 3s ease forwards;
}

.pesquisa-input {
    flex: 1 1 300px;
    min-width: 150px;
}

.input {
    display: flex;
    gap: 10px;
}

.hero-text h1 {
    line-height: 60px;
    font-size: 3.4rem;
}

.hero-text span {
    color: cyan;
}

.hero-text p {
    padding: 10px 0px;
}

.hero-pesquisa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 50px;
    margin-top: 80px;
    gap: 20px;
}

.hero-pesquisa select {
    border: 0px solid black;
    font-size: 1rem;
    outline: none;
    display: flex;
    cursor: pointer;
}

.hero-pesquisa i {
    font-size: 2rem;
}

.btn-pesquisa {
    flex:  0 0 auto;
}


.btn-pesquisa a {
    border-radius: 50%;
    background-color: cyan;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}

.btn-pesquisa a i {
    font-size: 1.5rem;
}





/* / HERO */

/* HERO BAR*/

section#hero-bar {
    padding: 40px 0px;
    background-color: cyan;
    position: relative;
    max-width: 100%;
}

#hero-bar .interface {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
}

.benefits-item {
    text-align: center;
    color: white;


    z-index: 2;
}

.benefits-item + .benefits-item {
    border-left: 4px solid white;
    padding: 0px  40px;
}

.benefits-item h2 {
    font-size: 2rem;
}

.benefits-item p {
    font-size: 1.3rem;
    font-weight: bold;
}




.hero-bar-img img {
    position: absolute;
    max-width: 1000px;
    height: auto;
    bottom: 0;
    right: 0;
    object-fit: cover;
    z-index: 3;
}

.circle {
    content: '';
    width: 800px;
    height: 800px;
    position: absolute;
    bottom: -10px;
    right: -140px;
    background-color: cyan;
    transform: translate(-22%, 30%);
    border-radius: 50%;
    clip-path: inset(0 0 50% 0);
    z-index: 1;

}

/* HERO BAR*/

/* CARDS */

section#cards-benefits {
    padding: 80px 0px;
}

section#cards-benefits h2 {
    font-size: 2.5rem;
}

#cards-benefits .interface h2 {
    padding: 0px 0px;
}

.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 40px 0px;
}

.cards-item {
    padding: 30px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    flex: 1 200px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    cursor: pointer;
}

.cards-item i {
    font-size: 2rem;
    border-radius: 50%;
    background-color: white;
    padding: 10px;
    color: cyan
}


.cards-item:hover {
    background-color: cyan;
    color: white;
    box-shadow: none;
}

/* / CARDS */

/* NEED */ 
section#need {
    padding: 80px 0px;
}

#need .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    flex: 0 300px;
}

.need-img {
    flex: 1 0 100px;
}

.need-img img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
    min-width: 310px;
}

.need-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex: 0 470px;
}

.need-text h2 {
    font-size: 2.4rem;
    line-height: 50px;
}

.need-text span {
    display: block;
}



.need-check {
    list-style-type: none;
}

.need-check li {
    display: flex;
    align-items: center;
    line-height: 40px;
    gap: 10px;
}

.more p {
    color: cyan;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* / NEED */

/* RATING */

section#rating {
    padding: 80px 0px;
}

#rating .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

#rating img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.rating-users {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 300px;
}

.rating-icons .icons {
    display: flex;
    align-items: center;
    
}


.rating-users h2 {
    font-size: 2.2rem;
    line-height: 50px;
}

.rating-users p {
    padding: 20px 0px;
}

.rating-users span:nth-child(1) {
    color: cyan;
}

.rating-users span:nth-child(2) {
    display: block;
}

.rating-reviews {
    padding: 20px 0px;
}


.users-comentary {
    flex: 1 1 400px;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 5px black;
}

.users-comentary .users {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.users-comentary .user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.users-comentary p {
    padding: 20px 0px;
}

.user-stars i {
    color: yellow;
    font-size: 1.3rem;
}

/* / RATING */



